{{#unless @isDisabled}}
  {{#if @isHeader}}
    <th
      class="text-xs uppercase py-3 px-4 align-middle relative"
      data-test-mox-list-header-item
      ...attributes
    >
      <div
        class="inline-block mt-auto py-0.5
          {{if @isActive 'text-white font-semibold' 'text-gray-300 font-medium'}}"
        data-test-mox-list-header-item-label
      >
        {{yield}}
      </div>
      {{#if @sort}}
        <div class="inline-block mt-0 mx-2 absolute">
          <button
            class="block hover:text-cyan-500 focus:text-cyan-500 {{if @isActive 'text-gray-500'}}"
            type="button"
            {{on "click" (fn @sort "asc")}}
            data-test-mox-list-header-sort-asc
          >
            <Mox::Icon @iconName="chevron-down-24" class="transition rotate-180" @size="x-small" />
          </button>
          <button
            class="block hover:text-cyan-500 focus:text-cyan-500 {{if @isActive 'text-gray-500'}}"
            type="button"
            {{on "click" (fn @sort "desc")}}
            data-test-mox-list-header-sort-desc
          >
            <Mox::Icon @iconName="chevron-down-24" class="transition" @size="x-small" />
          </button>
        </div>
      {{/if}}
    </th>
  {{else}}
    {{#if @route}}
      <td class="p-4 text-cyan-500" data-test-mox-list-item ...attributes>
        <div class="flex items-center space-x-2">
          <div data-test-mox-list-link>
            <LinkTo class="font-medium text-sm" @route={{@route}} @model={{@model}}>
              {{yield}}
            </LinkTo>
          </div>
        </div>
      </td>
    {{else}}
      <td class="p-4 text-white" data-test-mox-list-item ...attributes>
        <div class="font-medium text-sm" data-test-mox-list-item-content>
          {{yield}}
        </div>
      </td>
    {{/if}}
  {{/if}}
{{/unless}}
