<article
  class="w-full bg-white dark:bg-gray-800 rounded-lg border-solid border-2 border-white dark:border-gray-800 transition hover:border-cyan-500 focus-within:border-cyan-700 text-gray-700 dark:text-white drop-shadow"
  data-test-mox-card
  ...attributes
>
  <div class="flex items-center justify-between">

    <Mox::Card::Main @route={{@route}} @model={{@model}} @onClick={{@onClick}}>

      {{#if (has-block "icon")}}
        <div
          class="bg-gray-100 dark:bg-gray-700 text-gray-800 dark:text-white rounded p-3"
          data-test-mox-card-icon
        >
          {{yield to="icon"}}
        </div>
      {{/if}}

      <div class="overflow-hidden">
        <h3
          class="text-xl font-semibold normal-case text-left overflow-hidden truncate flex gap-x-2 text-gray-800 dark:text-white items-center"
          data-test-mox-card-title
        >
          {{yield to="title"}}
        </h3>
        <p
          class="text-gray-500 dark:text-gray-300 text-xs truncate text-left"
          data-test-mox-card-subtitle
        >
          {{yield to="subtitle"}}
        </p>
      </div>

    </Mox::Card::Main>

    <div class="flex items-center justify-end">
      {{#if (has-block "details")}}
        <Mox::Card::Aside @route={{@route}} @model={{@model}} @onClick={{@onClick}}>
          <div
            class="flex items-center justify-end h-full text-xs text-gray-600 dark:text-gray-200"
            data-test-mox-card-details
          >
            {{yield to="details"}}
          </div>
        </Mox::Card::Aside>
      {{/if}}

      {{#if (has-block "menu")}}
        <div
          class="flex items-center justify-center p-4 cursor-pointer h-full text-gray-500 dark:text-white"
          data-test-mox-card-menu
        >
          {{yield to="menu"}}
        </div>
      {{/if}}
    </div>

  </div>
</article>
