<article
  class="w-full dark:bg-gray-800 dark:text-white bg-gray-50 text-gray-900 rounded-lg border-solid border-2 dark:border-gray-800 border-gray-100 transition hover:border-cyan-500 focus-within:border-cyan-700"
  data-test-mox-card
  ...attributes
>
  <div class="flex items-center justify-between">

    <Mox::Card::Main @route={{@route}} @model={{@model}} @onClick={{@onClick}}>

      {{#if (has-block "icon")}}
        <div class="dark:bg-gray-900 dark:text-white bg-gray-300 text-gray-900 rounded p-3" data-test-mox-card-icon>
          {{yield to="icon"}}
        </div>
      {{/if}}

      <div class="overflow-hidden">
        <h3 class="text-xl font-semibold normal-case text-left truncate flex gap-x-2 dark:text-white text-gray-900 items-center" data-test-mox-card-title>
          {{yield to="title"}}
        </h3>
        <p class="dark:text-gray-300 text-gray-600 text-xs truncate text-left" data-test-mox-card-subtitle>
          {{yield to="subtitle"}}
        </p>
      </div>

    </Mox::Card::Main>

    {{#if (has-block "menu")}}
      <div
        class="flex items-center justify-center p-4 cursor-pointer h-full dark:text-white text-gray-900"
        data-test-mox-card-menu
      >
        {{yield to="menu"}}
      </div>
    {{/if}}

  </div>
</article>
