{{#if @route}}
  <Mox::LinkTo @route={{@route}} @model={{@model}} data-test-mox-link={{@route}} ...attributes>
    {{yield}}
  </Mox::LinkTo>
{{else}}
  <a
    href={{@externalUrl}}
    target="_blank"
    class="font-medium text-sm text-cyan-500 hover:text-white transition"
    data-test-mox-link
    rel="noopener noreferrer"
    ...attributes
  >{{yield}}</a>
{{/if}}
