{{#if @route}}
  <Mox::Link
    @route={{@route}}
    @model={{@model}}
    class="flex items-center justify-end p-4 gap-x-4 cursor-pointer"
    data-test-mox-card-aside-link
  >

    {{yield}}

  </Mox::Link>
{{else}}
  <button
    type="button"
    class="flex items-center justify-end p-4 gap-x-4 cursor-pointer"
    {{on "click" this.onClick}}
    data-test-mox-card-aside-button
  >

    {{yield}}

  </button>
{{/if}}