{{#if @route}}
  <Mox::Link
    @route={{@route}}
    @model={{@model}}
    class="flex flex-1 items-center justify-start p-4 gap-x-4 cursor-pointer overflow-hidden truncate"
    data-test-mox-card-link
  >

    {{yield}}

  </Mox::Link>
{{else}}
  <button
    type="button"
    class="flex flex-1 items-center justify-start p-4 gap-x-4 cursor-pointer overflow-hidden truncate"
    {{on "click" this.onClick}}
    data-test-mox-card-button
  >

    {{yield}}

  </button>
{{/if}}
