<Mxa::ModalDialog
  @title={{this.fullTitle}}
  @forConfirmation={{true}}
  @onDismiss={{@onDismiss}}>
  <div class="py-4">
    <label for={{concat "delete-" @entityName}} class="inline-block my-4 text-gray-900" data-test-confirm-block>
      {{yield @entityName}}
    </label>
    {{#if @isTextInputRequired}}
      <Input
        id={{concat "delete-" @entityName}}
        type="text"
        class="mxa-input w-full bg-white border-gray-300"
        @value={{this.confirmedEntityName}}
        {{focus-on-render}}
        data-test-confirm-input
      />
    {{/if}}
  </div>
  <div class="flex items-center justify-end mt-4">
    <Mxa::Button
      @buttonType="secondary"
      class="mr-2"
      data-test-confirm-cancel-button
      {{on 'click' @onDismiss}}
    >
      Cancel
    </Mxa::Button>
    <Mxa::AsyncButton
      @onClick={{@confirmedAction}}
      @buttonType="danger"
      @isDisabled={{this.isDisabled}}
      data-test-confirm-submit-button
    >
      {{this.buttonTitle}}
    </Mxa::AsyncButton>
  </div>
</Mxa::ModalDialog>
