<Mxa::Modal @onDismiss={{@onDismiss}}>
  <Mxa::DialogCard
    class="inline-block align-bottom bg-white text-left overflow-visible transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
  >
    <div class="font-medium py-4 border-b border-frost-60">
      <div class="px-4">
        <div class="text-2xl">
          {{@confirmableActionName}}
          {{@entityName}}
          ?
        </div>
      </div>
    </div>
    <div class="px-4 py-4">
      <p class="mb-4">
        {{yield @entityName}}
      </p>
      {{#if @isTextInputRequired}}
        <Input
          type="text"
          class="mxa-input w-full bg-white border-frost-100"
          placeholder="Connector name"
          @value={{this.confirmedEntityName}}
        />
      {{/if}}
    </div>
    <div class="px-6 py-4 flex items-center justify-end">
      <Mxa::Button
        @buttonType="secondary"
        class="mr-2"
        {{on 'click' @onDismiss}}
      >
        Cancel
      </Mxa::Button>
      {{#if @isTextInputRequired}}
        <Mxa::Button
          disabled={{not (eq @entityName this.confirmedEntityName)}}
          {{on 'click' @confirmedAction}}
        >
          {{@confirmableActionName}}
        </Mxa::Button>
      {{else}}
        <Mxa::Button {{on 'click' @confirmedAction}}>
          {{@confirmableActionName}}
        </Mxa::Button>
      {{/if}}
    </div>
  </Mxa::DialogCard>
</Mxa::Modal>