<div class="mxa-toggle" ...attributes>
  <div class="flex items-center space-x-2">
    <input
      id={{this.fieldId}}
      type="checkbox"
      class="transform appearance-none w-11 h-6 outline-none
      flex items-center rounded-full border p-1 cursor-pointer
      {{if
        this.isChecked
        'bg-forest-100 border-forest-100'
        'bg-frost-100 border-frost-100'
      }}"
      checked={{this.isChecked}}
      {{on 'change' this.toggleAction}}
      data-test-toggle
    />
    {{#if @label}}
      <label class="text-sm w-20" for={{this.fieldId}} data-test-toggle-label>
        {{@label}}
      </label>
    {{/if}}
  </div>
</div>
