<div class='relative' ...attributes>
  <div
    class='flex items-center rounded border border-frost-100 focus-within:outline-none focus-within:ring-plum-100 focus-within:border-plum-100'
    aria-expanded={{this.isShowingMatches}}
    aria-owns='typeahead-select-listbox'
    aria-haspopup='listbox'
  >
    <Input
      type='text'
      @id={{@id}}
      @value={{this.inputValue}}
      class='rounded pl-2 pr-4 py-2 text-xs focus:outline-none w-full placeholder-slate-100'
      placeholder={{@placeholder}}
      data-test-typeahead-select-input
      disabled={{@isDisabled}}
      aria-autocomplete='list'
      aria-controls='typeahead-select-listbox'
      aria-labelledby={{@labelID}}
      aria-activedescendant
      {{on 'focus' this.showMatches}}
      {{on 'blur' this.hideMatches}}
    />
    <span
      class='ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none'
    >
      <svg
        class='h-5 w-5 text-gray-400'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 20 20'
        fill='currentColor'
        aria-hidden='true'
      >
        <path
          fill-rule='evenodd'
          d='M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z'
          clip-rule='evenodd'
        ></path>
      </svg>
    </span>
  </div>

  {{#if this.isShowingMatches}}
    <div class='absolute mt-1 w-full rounded-md bg-white shadow-lg z-10'>
      <ul
        id='typeahead-select-listbox'
        tabindex='-1'
        role='listbox'
        aria-labelledby={{@labelID}}
        class='max-h-56 rounded-md text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm'
      >
        {{#each this.matches as |match idx|}}
          <li
            id={{concat 'listbox-item-' idx}}
            role='option'
            class='text-gray-900 cursor-default select-none relative hover:bg-slate-5'
            data-test-select-option
            aria-selected={{eq
              (get match this.optionValueKey)
              (get @selectedOption this.optionValueKey)
            }}
          >
            <div
              class='flex items-center cursor-pointer py-2 pl-3 pr-9'
              data-test-select-option-button={{get match this.optionNameKey}}
              {{on 'mousedown' (fn this.setSelectedOption match)}}
            >
              <span class='ml-1 block font-normal truncate'>
                {{get match this.optionNameKey}}
              </span>
            </div>
            {{#if
              (eq
                (get match this.optionValueKey)
                (get @selectedOption this.optionValueKey)
              )
            }}
              <span
                class='absolute inset-y-0 right-0 flex items-center pr-4'
                data-test-select-option-selected
              >
                <svg
                  class='h-5 w-5'
                  xmlns='http://www.w3.org/2000/svg'
                  viewBox='0 0 20 20'
                  fill='currentColor'
                  aria-hidden='true'
                >
                  <path
                    fill-rule='evenodd'
                    d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z'
                    clip-rule='evenodd'
                  ></path>
                </svg>
              </span>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
