<li
  id="listbox-item-0"
  role="option"
  class="cursor-default select-none relative hover:bg-gray-700
    {{if @isDisabled 'text-gray-500 bg-gray-700' 'text-white'}}"
  data-test-select-option
>
  <div
    class="flex items-center cursor-pointer py-2 pl-4 pr-9 mr-2"
    data-test-select-option-button={{this.optionName}}
    {{on "click" (fn this.setOption @option)}}
  >
    {{#if this.optionCategory}}
      <Mxa::Select::Option::Category @name={{this.optionName}} @category={{this.optionCategory}} />
    {{else}}
      {{#if (has-block)}}
        <div class="mr-3">{{yield}}</div>
      {{/if}}
      <span class="block font-normal truncate">
        {{this.optionName}}
      </span>
    {{/if}}
  </div>

  {{#if (eq this.optionValue this.selectedOptionValue)}}
    <span
      class="absolute inset-y-0 right-0 flex items-center pr-4"
      data-test-select-option-selected
    >
      <svg
        class="h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </span>
  {{/if}}
</li>